/* el * es un selector universal*/

* {
	margin: 20;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(4, 231, 182);
	
}

.Paq {
	margin-left: 35%;
	margin-bottom: 0%;

}

.grid-contanier {
	display: grid;
	background-color: rgb(122, 122, 218);
	grid-template-columns: auto;
	column-gap: 5px;
	row-gap: 5px;
	max-inline-size: 80%;
	
	
	
	
}

.nombre{
	text-align: center;
	max-width: 80%;
}

.correo{
	text-align: center;
	max-width: 80%;
}

.numero{
	text-align: center;
}

.pasajeros{
	text-align: center;
}

.naciminento{
	text-align: center;
}

.viaje {
	text-align:center;
}

.mensaje{
	text-align: center;
}

.eyl{
	text-align: center;
}



.header1 {
    background-color: blue;
	position:sticky; 
	top: 0px;
	max-width: 100%;
	
	
} 


.menu1 li {
	display: inline;
	}


a {
	color: rgb(5, 5, 5);
	font-family: 'Roboto', sans-serif;
	
	
}
.menu { background-color:rgb(127, 214, 255) ;
		

}   


.cards {
	display: flex;
	flex: 50%;
	
}

.paris {
	background-color: coral;
	margin-bottom: 0px;
	width: 400px;
	padding: 0px;
	text-align:center;
	border: solid 1px; color:rgb(1, 7, 0);
	color: black;
	max-width: 100%;
	
}

.Italia {
	background-color: rgb(21, 151, 112);
	margin-bottom: 0px;
	width: 400px;
	padding: 0px;
	text-align:center;
	border: solid 1px; color:rgb(1, 7, 0);
	color: black;
	max-width: 100%;
	
	
	
}


.card {
	display: flex;
	background-color: rgb(226, 214, 43);
	margin-top: 0px ;
	width: 402px;
	height: 500px;
	padding: 0px;
	border: solid 1px; color:rgb(1, 7, 0);
	color: black;
	background-color: rgb(13, 126, 120);
	position:static;
	
}

.card img {
	width: 250px;
	display:block;
	margin: auto;
}

.oferta {
	background-color: rgb(238, 241, 15);
	color:blueviolet;
	position:static;
	left: 263px;
	top: -50px;
}

.carrito {
	text-align: center;
}


.pir {
	max-width: 100%;
}

.des { max-width: 100%;

}

.mundo { max-width: 100%;

}

.Img1 {
	height: 100px;
	border-radius: 100px;
	max-width: 100%;
	width: 1200px;	
}

.italia {
	max-width: 100%;
}

.paris {
	max-width: 100%;
}



/* margin */

/*ATAJO */

.atajo-margen {
	margin: 50px 10px 10px 5px;
	background-color: cornsilk;
	padding:0px
}
      /* Top - Right - Botom - Left */

	  /*padding*/

	  
.whatsapp {
	position: fixed;
	width: 50px;
	bottom: 0;
	right: 0;
	


}

.Enlace2 {
	bottom: 0px;
}



